:root {
    --main-color: #0d3b96;
    --accent-color: #0094b4;
    --background-white: #ffffff;
    --background-color: #e1ebff;
    --text-color: #000000;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: var(--background-white);
    color: var(--text-color);
}

p {
    font-size: 1.2rem;
}

h1 {
    font-size: 3rem;
    font-weight: 1000;
    
}

h2 {
    font-size: 2.5rem;
    font-weight: 800;
}

h3 {
    font-size: 2rem;
    font-weight: 600;
}

h4 {
    font-size: 1.5rem;
}

.section-header {
    margin-bottom: 10px;
    border-bottom: 8px solid var(--main-color);
}

h1, h2 {
    color: var(--main-color);
}


/* MAIN CONTENT */
.main-content {
    margin-left: 13%;
    padding: 3% 8%;
    background-color: var(--background-white);
    flex: 1;
    transition: margin-left 0.3s ease;
}

@media (max-width: 768px) {
    .main-content {
        margin-left: 0;
        padding: 10px;
    }
}

section {
    margin-bottom: 40px;
}

/* NAV BAR */
.sidebar {
    background-color: var(--main-color);
    color: var(--background-white);
    width: 13%;
    height: 100vh;
    padding: 20px;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sidebar nav ul {
    list-style-type: none;
    padding: 0;
}

.sidebar nav ul li {
    margin: 40px 0;
}

.sidebar nav ul li a {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--background-white);
    text-decoration: none;
    font-weight: 800;
    font-size: 1.30vw;
    text-transform: uppercase;
}

.sidebar nav ul li a:hover {
    color: var(--accent-color);
}

@media (max-width: 768px) {
    .sidebar {
        transform: translateX(-100%);
    }

    .sidebar.open {
        transform: translateX(0);
    }
}

/* LOGO */
.sidebar-logo {
    margin-top: 3vh;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 8vw;
    height: auto;
}

.sidebar-logo svg {
    display: block;
    width: 100%;
    height: auto;
  }
  
.logo-1 {
    fill: var(--background-white);
}
  
.logo-2 {
    fill: var(--text-color);
    animation: blink 1.5s step-start infinite;
}
 
.sidebar-logo a:hover .logo-1 {
    fill: var(--accent-color);
  }

@keyframes blink {
    0%, 100% { opacity: 1; }
    50% { opacity: 0; }
}

/* HERO */
.hero {
    display: flex;
    flex-direction: row;
    align-items: center; /* Aligns items to the top, use flex-start for better compatibility */
    justify-content: space-between;
    overflow-x: hidden; /* Prevents horizontal scrolling */
    gap: 20px;
    max-width: 100%; /* Ensures the section doesn't exceed viewport width */
    box-sizing: border-box; /* Include padding and borders in width */
}

.header-icons-group {
    flex: 0 0 25%;
    min-width: 350px;
}

.hero-description {
    flex: 1 1 50%;
    display: flex;
    align-items: center; /* Centers items vertically */
    justify-content: center;
    padding: 10px;

}

.profile-picture {
    flex: 0 0 auto; /* Verhindert, dass der Container das Bild skaliert */
    min-width: 200px;
    max-width: 300px;   /* Setzt eine feste Breite für den Container */
    height: auto;  /* Setzt eine feste Höhe für den Container */
}

.profile-picture img {
    max-width: 100%; /* Ensure it doesn't exceed its container */
    height: auto;
    object-fit: cover; /* Bild wird skaliert, um den Container auszufüllen, ohne Verzerrung */
    border-radius: 50%; /* Rundes Bild */
}

.hero-intro {
    font-size: 2rem;
    line-height: 1;
    font-weight: 400;
}

.hero-name {
    font-size: 3rem;
    color: var(--main-color);
    font-weight: 1000;
    margin: 0 0 10px;
    line-height: 0.7;
}

.hero-job {
    font-size: 2rem;
    color: var(--accent-color);
    font-weight: 500;
    margin: 0 0 10px;
    line-height: 0.7;
}

.button-classic {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 8px; /* Space between text and icon */
    padding: 10px 20px;
    background-color: var(--main-color);
    color: var(--background-white);
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    font-size: 1.1rem;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.button-classic svg {
    max-width: 35px;
    max-height: 35px;
    padding-bottom: 4px;
}

.button-classic svg path {
    fill: var(--background-white);
}

.button-classic:hover {
    background-color: var(--accent-color);
}

.hero-header {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
}

.profile-picture img {
    border-radius: 50%; /* Rundes Bild */
    border: 5px solid var(--main-color); /* 5px dicke, schwarze, durchgezogene Linie */
}

/* SOCIAL ICONS */

.social-icons {
    display: flex;
    gap: 15px; /* Distributes space between items */
    align-items: center;    
    flex-wrap: wrap;
}

.social-icons svg {
    width: 35px;
    height: 35px;
    fill: var(--main-color);
    transition: transform 0.3s ease, fill 0.3s ease;
}

.social-icons svg:hover {
    fill: var(--accent-color);
}

@media (max-width: 1000px) {
    .hero {
      flex-direction: column;
      align-items: center; /* Centers items vertically */
      justify-content: center; 
    }
    
    .profile-picture {
        width: 100%; /* Volle Breite bei kleinen Bildschirmen */
    }

    .header-icons-group,
    .hero-description,
    .profile-picture {
      flex: 1 1 100%; /* Volle Breite bei kleinen Bildschirmen */
      max-width: 100%; 
      text-align: center;
    }
  }

/* PORTFOLIO */
.portfolio-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    gap: 20px;
}

.portfolio-eintrag {
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.portfolio-eintrag header {
    background-color: var(--main-color);
    color: var(--background-white);
    padding: 20px;
    z-index: 2;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.portfolio-eintrag:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 18px rgba(0, 0, 0, 0.2);

}

.portfolio-eintrag:hover header {
    background-color: var(--accent-color);
}

.portfolio-eintrag a {
    text-decoration: none;
    color: inherit;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.portfolio-eintrag header {
    background-color: var(--main-color);
    color: var(--background-white);
    padding: 20px;
    z-index: 2;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

/* Hintergrundbild für das Inhalt-Div */
.portfolio-eintrag-content {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Text oben, Tags unten */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: var(--bg-image);
    padding: 20px;
    min-height: 250px;
    gap: 15px;
    height: 100%;
}

/* Dark Overlay nur bei Hover */
.portfolio-eintrag-content::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0); /* Keine Verdunkelung im normalen Zustand */
    transition: background 0.3s ease;
    z-index: 1;
}

.portfolio-eintrag-content:hover::after {
    background: rgba(0, 0, 0, 0.95); /* Abdunkeln auf Hover */
}

.portfolio-eintrag-content p 
{
    position: relative;
    z-index: 2;
    margin: 0;
    padding: 0;
    color: var(--background-white);
    opacity: 0;
    transition: opacity 0.3s ease;
    flex-shrink: 0; /* Verhindert, dass der Text schrumpft */
    align-self: flex-start; /* Text bleibt oben */
}
.portfolio-eintrag-content ul {
    position: relative;
    z-index: 2;
    margin: 0;
    padding: 0;
    list-style: none;
    color: var(--background-white);
    opacity: 0; /* Hidden by default */
    transition: opacity 0.3s ease;
}


.portfolio-eintrag-content:hover p,
.portfolio-eintrag-content:hover ul {
    opacity: 1; /* Sichtbar beim Hover */
}

/* Tags Styling */
.portfolio-eintrag-tags {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: auto; /* Tags nach unten schieben */
    flex-shrink: 0; /* Verhindert das Schrumpfen */
    align-self: flex-end; /* Tags bleiben unten */
}

.portfolio-eintrag-tags-tag {
    background: var(--main-color);
    padding: 5px 10px;
    border-radius: 5px;
}

@media (max-width: 768px) {
    .portfolio-grid {
        grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    }
}

/* CONTACT */
form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

form input, textarea {
    padding: 8px;
    resize: none;
} 

button {
    background-color: var(--main-color);
    color: var(--background-white);
    padding: 10px;
    border: none;
    cursor: pointer;
}

button {
    font-size: 1.5rem;
    text-transform: uppercase;
    font-weight: 800;
}

button:hover {
    background-color: var(--accent-color);
}

.contact-wrapper {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    width: 100%;
    margin: 0 auto;
    flex-wrap: wrap;
}

.contact-form {
    flex: 1 1 50%;
    min-width: 300px;
}

.contact-form label {
    font-size: 1.3rem;
}

.contact-graphic {
    flex: 1 1 15%;
    min-width: 300px;
    margin-top: auto;
}

@media (max-width: 768px) {

    .contact-graphic {
        display: none;
    }

    .footer-container p {
        font-size: 0.8rem;
    }
}

/* FOOTER */
footer {
    background-color: var(--main-color);
    color: var(--background-white);
    padding: 15px 20px;
    text-align: center;
    margin-top: auto;
    position: relative;
  z-index: 100;
}

.footer-container {
    padding-left: 13%;
    padding: 20px;
    color: var(--background-white);
    text-align: center;
}

.footer-container h3 {
    text-transform: uppercase;
}

.footer-container .contact-info {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    margin-top: 30px;
    margin-bottom: 30px;
}

.contact-info div {
    display: flex;
    align-items: center;
}

.contact-info div svg {
    margin-right: 12px;
    vertical-align: middle;
}

.contact-info div svg path {
    fill: var(--background-white);
}

@media (max-width: 600px) {
    .footer-container .contact-info {
        flex-direction: column;
        gap: 15px;
    }
}

.footer-links a {
    color: var(--background-white);
    text-decoration: none;
    margin: 0 10px;
}

.footer-links a:hover {
    color: var(--accent-color);
}

.impressum a {
    color: var(--accent-color);
    text-decoration: none;
}

.impressum a:hover {
    text-decoration: underline;
}

@media (max-width: 768px) {
    .footer-container {
        flex-direction: column;
        gap: 10px;
    }
}

/*CONTENT PAGE*/

.content-paragraph
{
    padding: 20px;
}


/*GALLERY*/
.gallery {
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
    padding: 20px;
    gap: 20px;
}

.gallery::-webkit-scrollbar {
    height: 8px;
}

.gallery::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 10px;
}

.gallery-item {
    min-width: 300px;
    max-width: 100%;
    flex: none;
    overflow: hidden;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.gallery-item img {
    width: 100%;
    display: block;
    border-radius: 15px;
}