:root {
    --text-color: #0B0F0C;
    --background-color: #F7F8F5;
    --primary-color: #48AF4B;
    --secondary-color: #83CDC8;
    --accent-color: #63B8B2;
}

:root.dark-mode {
    --text-color: #DAE6DA;
    --background-color: #131612;
    --primary-color: #48AF4B;
    --secondary-color: #396E66;
    --accent-color: #397A75;
}

body {
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--background-color);
    color: var(--text-color);
    transition: background-color 0.3s ease, color 0.3s ease;
}

.header, .nav a, .hero-downloadbutton, .profile-picture, .social-icons svg, .profile-picture::after, .hero-dynamic li, .hero-dynamic li::after {
    transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease, fill 0.3s ease;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 5%;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    border-bottom: 2px solid var(--primary-color);
}

.logo {
    font-size: 2rem;
    font-weight: bold;
    color: var(--primary-color);
}

.header-right {
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 20px; /* Abstand zwischen Navigation und Switch Mode Button */
}

.nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 20px; /* Abstand zwischen den Navigationslinks */
}

.nav a {
    text-decoration: none;
    color: var(--text-color);
    font-weight: bold;
}

.nav a:hover {
    color: var(--primary-color);
}

.mode-toggle {
    margin-left: auto;
}

.mode-toggle button {
    padding: 10px 20px;
    background-color: var(--primary-color);
    color: var(--background-color);
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    font-size: 1rem;
    border: none; /* Kein Rahmen um den Button */
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.mode-toggle button:hover {
    background-color: var(--accent-color);
}

.hero {
    display: flex;
    padding: 40px 20px;
    text-align: left;
}

.hero-content {
    position: relative;
    max-width: 40%;
    margin-left: 20px;
    margin-top: 0;
}

.hero-intro {
    font-size: 3rem;
    margin: 0 0 10px;
    line-height: 1;
    font-weight: 400;
}

.hero-name {
    font-size: 4rem;
    color: var(--primary-color);
    font-weight: 800;
    margin: 0 0 10px;
    line-height: 0.7;
    position: relative;
    z-index: 2;
}

.hero-dynamic {
    margin: 0;
    padding: 0;
}

.hero-description {
    font-size: 1.2rem;
    margin-top: 20px;
    margin-bottom: 20px;
    line-height: 1.5;
}

.hero-actions {
    display: flex;
    align-items: center;
    gap: 20px;
}

.hero-downloadbutton {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 8px; /* Space between text and icon */
    padding: 10px 20px;
    background-color: var(--primary-color);
    color: var(--background-color);
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    font-size: 1.3rem;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.hero-downloadbutton svg {
    max-width: 35px;
    max-height: 35px;
    padding-bottom: 4px;
}

.hero-downloadbutton:hover {
    background-color: var(--accent-color);
}

.profile-picture {
    position: relative; /* Positionierungs-Kontext für das rotierende Element */
    width: 50%; /* Breite und Höhe des Bildes */
    height: 50%;
    border-radius: 50%; /* Runde Form für das Bild */
    overflow: hidden; /* Überflüssiger Inhalt wird abgeschnitten */
    margin: 0 auto 20px; /* Zentriert das Bild */
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.profile-picture::before {
    content: "";
    position: absolute;

    width: 50%; /* Größer als das Bild, damit es beim Rotieren sichtbar bleibt */
    height: 150%;
    background: var(--primary-color); /* Transparenter Hintergrund */
    transform: rotate(0deg); /* Startwinkel */
    transform-origin: center center; /* Rotationsursprung ist das Zentrum */
    animation: rotateSquare 4s linear infinite; /* Rotationseffekt */
    z-index: 1;
}

.profile-picture::after {
    content: "";
    position: absolute;
    inset: 12px;
    background: var(--background-color);
    border-radius: 50%;
    z-index: 2;
}

.profile-picture img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Bild passt sich dem Container an */
    border-radius: 50%; /* Rundes Bild */
    z-index: 3;
    border: 5px solid var(--primary-color); /* 5px dicke, schwarze, durchgezogene Linie */
    
}

/* Animation für die Rotation */
@keyframes rotateSquare {
    from {
        transform: rotate(0deg); /* Startposition */
    }
    to {
        transform: rotate(360deg); /* Endposition */
    }
}




.social-icons {
    display: flex;
    gap: 20px;
}

.social-icons svg {
    width: 35px;
    height: 35px;
    fill: var(--primary-color);
    transition: transform 0.3s ease, fill 0.3s ease;
}

.social-icons svg:hover {
    transform: scale(1.2);
    fill: var(--accent-color);
}

@media (max-width: 768px) {
    .hero {
        flex-direction: column;
        align-items: center;
        
    }

    .hero-content {
        max-width: 100%;

    }

    .profile-picture {
        width: 100%; /* Nimmt die Hälfte der Breite ein */
        max-width: none; /* Keine Begrenzung der maximalen Breite */

        margin-top: 30px;
    }

    .hero-actions {
        
        gap: 10px; /* Fügt etwas Abstand zwischen den Elementen hinzu */
    }
    
    .hero-name {
        font-size: 3rem;
    }
}

.hero-dynamic-wrapper .hero-dynamic {
    line-height: 2.1rem;
    height: 2.1rem;
    overflow: hidden;
}

.hero-dynamic li {
    list-style: none;
    font-size: 1.9rem;
    letter-spacing: 3px;
    color: var(--accent-color);
    margin: 0;
    padding: 0;
    line-height: 1;
    font-weight: 100;
    position: relative;
    top:0;
    animation: slidetext 12s steps(4)
    infinite;
}

.hero-dynamic li::after {
    content: "";
    position: absolute;
    background-color: var(--background-color);
    left: 0;
    height: 110%;
    width: 100%;
    z-index: 1;
    /* border-left: 2px solid var(--text-color);*/ 
    animation: typing 3s steps(20)
    infinite;
}

@keyframes typing {
    40%,
    60% {
        left: calc(100% + 10px)
    }
    100%
    {
        left:0;
    }
    
}

@keyframes slidetext {
    100%{
        top: -120px
    }
}